@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: whitesmoke;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/assets/stars_small_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  background-color: #0009;
  box-shadow: 0 0 2rem 0.5rem teal;
  backdrop-filter: blur(4px);
  border-radius: 2rem;
  padding: 2rem;
  z-index: 1;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.container h1 {
  display: flex;
  align-items: center;
  font-style: italic;
  user-select: none;
  background: #008080;
  background: linear-gradient(to right, #008080 0%, #00ffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 700px) {
  .container {
    margin: 1rem;
    row-gap: 0.75rem;
    box-shadow: 0 0 1rem teal;
  }
  .container h1 {
    font-size: 1.5rem;
  }
}

#audioContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  position: relative;
}

#audioContainer audio {
  background-color: transparent;
  border: 1px solid teal;
  border-radius: 999rem;
  padding: 1rem;
}

#labelFile {
  font-size: 0.875rem;
  user-select: none;
}

#btnFile {
  padding: 0.125rem 0.625rem;
  border-radius: 999rem;
  font-size: 0.75rem;
  font-weight: 500;
  border: none;
  user-select: none;
  box-shadow: 1px 1px 1px #0007;
}

#fileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

#btnVisualizer {
  width: 302px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  border-radius: 999rem;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  user-select: none;
  background: linear-gradient(to right, #008080 0%, #00ffff 100%);
  text-transform: uppercase;
  position: absolute;
}

#btnVisualizer svg {
  pointer-events: none;
}

#badges {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#badges > hr {
  width: 100%;
  border: none;
  border-top: 1px solid #fff3;
  display: none;
  padding-top: 0.5rem;
}

#badges > button {
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.125rem 0.625rem;
  border-radius: 999rem;
  border: none;
  user-select: none;
  box-shadow: 1px 1px 1px #0007;
  color: #000;
  background-color: teal;
  background: linear-gradient(to right, #008080 0%, #00ffff 100%);
}

#badges > button:nth-of-type(odd) {
  background: linear-gradient(to left, #008080 0%, #00ffff 100%);
}

.animation {
  animation: animate 0.3s ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  z-index: 0;
}

#planet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 512px;
  transition: all 0.2s ease-in-out;
  animation: planetRotate 60s linear infinite;
  animation-play-state: paused;
  z-index: -1;
}

@media (max-width: 700px) {
  #planet {
    max-width: 256px;
    left: 50%;
    translate: -50% 0;
  }
}

@keyframes planetRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
